.u-section-1 {min-height: 1018px}
.u-section-1 .u-image-1 {height: 638px; object-position: 50% 0%; background-position: 50% 0%; margin-top: 0; margin-bottom: 0; margin-left: 0}
.u-section-1 .u-layout-wrap-1 {width: 1140px; min-height: 601px; margin: -285px auto 60px}
.u-section-1 .u-image-2 {background-image: url("images/2604093815168.jpg"); min-height: 601px; background-position: 50% 50%}
.u-section-1 .u-container-layout-1 {padding: 0}
.u-section-1 .u-layout-cell-2 {min-height: 283px}
.u-section-1 .u-layout-cell-3 {min-height: 322px}
.u-section-1 .u-container-layout-3 {padding: 40px}
.u-section-1 .u-text-1 {font-size: 2.25rem; font-weight: normal; margin: 0}
.u-section-1 .u-text-2 {margin: 20px 0 0}
.u-section-1 .u-text-3 {width: auto; text-shadow: -2px -2px 8px rgba(128,128,128,1); font-weight: normal; margin: -836px calc(((100% - 340px) / 2) + -78px) 60px calc(((100% - 340px) / 2) + -22px)} 

@media (max-width: 1199px){ .u-section-1 {min-height: 696px}
.u-section-1 .u-image-1 {height: 516px; margin-left: initial}
.u-section-1 .u-layout-wrap-1 {width: 940px; min-height: 390px; margin-top: -233px}
.u-section-1 .u-image-2 {min-height: 496px}
.u-section-1 .u-layout-cell-2 {min-height: 233px}
.u-section-1 .u-layout-cell-3 {min-height: 266px}
.u-section-1 .u-text-3 {margin-left: calc(((100% - 940px) / 2)); margin-right: calc(((100% - 940px) / 2))} }

@media (max-width: 991px){ .u-section-1 .u-layout-wrap-1 {width: 580px; margin-bottom: 0; margin-left: calc(((100% - 720px) / 2))}
.u-section-1 .u-image-2 {min-height: 844px}
.u-section-1 .u-layout-cell-2 {min-height: 324px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-text-3 {margin-right: calc(((100% - 720px) / 2)); margin-left: calc(((100% - 720px) / 2))} }

@media (max-width: 767px){ .u-section-1 .u-layout-wrap-1 {width: 433px; margin-left: calc(((100% - 540px) / 2))}
.u-section-1 .u-image-2 {min-height: 633px}
.u-section-1 .u-layout-cell-2 {min-height: 243px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-3 {margin-right: calc(((100% - 540px) / 2)); margin-left: calc(((100% - 540px) / 2))} }

@media (max-width: 575px){ .u-section-1 {min-height: 1039px; margin-top: 0; margin-bottom: 0}
.u-section-1 .u-image-1 {margin-top: 1px; filter: brightness(0.8); margin-left: initial}
.u-section-1 .u-layout-wrap-1 {width: 340px; min-height: 51px; margin-left: calc(((100% - 340px) / 2))}
.u-section-1 .u-image-2 {min-height: 399px}
.u-section-1 .u-layout-cell-2 {min-height: 153px}
.u-section-1 .u-text-1 {font-weight: 700}
.u-section-1 .u-text-3 {font-weight: 700; margin-top: -1032px; margin-right: calc(((100% - 340px) / 2) + 75px); margin-left: calc(((100% - 340px) / 2) + 10px)} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 286px}
.u-section-2 .u-text-1 {text-transform: uppercase; font-size: 3.75rem; margin: 60px 20px 0}
.u-section-2 .u-btn-1 {background-image: none; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 2px; margin: 20px auto 60px} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {margin-top: 83px}
.u-section-2 .u-btn-1 {margin-top: -23px} }

@media (max-width: 575px){ .u-section-2 {margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 189px}
.u-section-2 .u-text-1 {font-size: 2.25rem; margin-top: 39px}
.u-section-2 .u-btn-1 {border-style: none; margin-top: 15px; margin-bottom: 15px} }.u-section-3 {margin-top: 0; margin-bottom: 0; background-image: none}
.u-section-3 .u-sheet-1 {min-height: 741px}
.u-section-3 .u-layout-wrap-1 {margin-top: 70px; margin-bottom: 70px}
.u-section-3 .u-image-1 {min-height: 301px; background-image: url("images/26040921076481.jpg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-1 {padding: 20px}
.u-section-3 .u-image-2 {min-height: 301px; background-image: url("images/26040925137921.jpg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-2 {padding: 20px}
.u-section-3 .u-image-3 {min-height: 301px; background-image: url("images/26040928302721.jpg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-3 {padding: 20px}
.u-section-3 .u-image-4 {min-height: 301px; background-image: url("images/2604093313536.jpg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-4 {padding: 20px}
.u-section-3 .u-image-5 {min-height: 301px; background-image: url("images/26040944571521.jpg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-5 {padding: 20px}
.u-section-3 .u-image-6 {min-height: 301px; background-image: url("images/2604096669120.jpg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-6 {padding: 20px}
.u-section-3 .u-image-7 {min-height: 301px; background-image: url("images/26040956049921.jpg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-7 {padding: 20px}
.u-section-3 .u-image-8 {min-height: 301px; background-image: url("images/26040938151681.jpg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-8 {padding: 20px} 

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 1342px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-4 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-5 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-6 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-7 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-8 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1943px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-8 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-layout-wrap-1 {margin-bottom: 39px}
.u-section-3 .u-image-1 {min-height: 305px; background-position: 50% 11.36%}
.u-section-3 .u-image-2 {min-height: 304px}
.u-section-3 .u-image-3 {min-height: 305px; background-position: 50% 0%}
.u-section-3 .u-image-4 {min-height: 304px; background-position: 50% 0%}
.u-section-3 .u-image-5 {min-height: 305px; background-position: 50% 10.5%}
.u-section-3 .u-image-6 {min-height: 304px}
.u-section-3 .u-image-7 {min-height: 305px; background-position: 50% 0%}
.u-section-3 .u-image-8 {min-height: 304px; background-position: 50% 32.71%} }.u-section-4 {margin-top: 0; margin-bottom: 0; background-image: none}
.u-section-4 .u-sheet-1 {min-height: 624px}
.u-section-4 .u-text-1 {width: 740px; margin: 60px auto 0}
.u-section-4 .u-text-2 {width: 620px; font-weight: normal; margin: 20px auto 0}
.u-section-4 .u-layout-wrap-1 {margin: 30px auto 60px 0}
.u-section-4 .u-layout-cell-1 {min-height: 362px; background-image: none}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-text-3 {font-weight: normal; margin: 0}
.u-section-4 .u-text-4 {font-weight: normal; margin: 20px 0 0}
.u-section-4 .u-text-5 {margin: 20px 0 0}
.u-section-4 .u-layout-cell-2 {min-height: 362px; background-image: none}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-text-6 {font-weight: normal; margin: 0}
.u-section-4 .u-text-7 {font-weight: normal; margin: 20px 0 0}
.u-section-4 .u-text-8 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 451px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 298px}
.u-section-4 .u-layout-cell-2 {min-height: 298px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 253px}
.u-section-4 .u-text-1 {width: 720px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 353px}
.u-section-4 .u-text-1 {width: 540px}
.u-section-4 .u-text-2 {width: 540px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 99px}
.u-section-4 .u-text-1 {width: 340px}
.u-section-4 .u-text-2 {width: 340px}
.u-section-4 .u-text-4 {font-weight: 700}
.u-section-4 .u-text-7 {font-weight: 700} }